{% extends 'base.html' %} 

{% block title %} 
    Sistema de Cadastro de Pessoas
{% endblock %} 

{% block content %} 
<div class="content-wrap">
    <div class="container mt-5">
        <div class="row">
            <div class="col text-center">
                <h1>Bem-vindo ao Sistema de Gestão</h1>
                <p class="lead">Este sistema foi desenvolvido para gerenciar o cadastro de instituições, setores, pessoas e lotações.</p>
                <p>Através deste sistema, é possível realizar o controle e a administração de diversas entidades de forma eficiente e centralizada.</p>                
            </div>
        </div>
    </div>
</div>

{% endblock %} 

