{% extends 'base.html' %}
{% block title %}Relatório{% endblock %}
{% block content %}
<div class="container-sm">
    <div class="table-responsive">
    <table  class="table table-striped" id="listaPessoas">
        <thead class="table-dark">
          <tr>
              <td>Instituição</td>
              <td>Setor</td>
               <td>Pessoa</td>
               <td>CPF</td>
          </tr>
        </thead>
        <tbody>
        {% for l in lista_pessoas %}
          <tr>
              <td>{{l.instituicao}}</td>
              <td>{{l.setor}}</td>
              <td>{{l.nome}}</td>
              <td>{{l.cpf}}</td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
          <tr>
              <td colspan="4">Lista de Pessoas</td>
          </tr>
        </tfoot>
    </table>
    </div>
</div>

<script>
new DataTable('#listaPessoas', {
    layout: {
        topStart: {
            buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
        }
    }
});
</script>
{% endblock %}